body {
    background-color: #f1f5f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* MENU LATERAL */
.menuLateral {
    background-color: #1e293b;
    min-height: 100vh;
    padding: 25px;
}

.menuLateral h4 {
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 50px;
}

.menuLateral .list-group-item {
    background-color: transparent;
    color: #cbd5e1;
    border: none;
    margin-bottom: 5px;
    border-radius: 8px;
}

.menuLateral .list-group-item:hover {
    background-color: #334155;
    color: white;
}

.menuLateral .active {
    background-color: #0d6efd;
    color: white;
}

/* CONTEÚDO */
.conteudo {
    padding: 40px;
}

/* CARD */
.card {
    border: none;
    border-radius: 15px;
}

/* BOTÕES */
.btn-success {
    padding: 8px 20px;
}

.btn-outline-secondary {
    padding: 8px 20px;
}