body {
    background-color: #f1f5f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* CONTEÚDO */
.conteudo {
    padding: 40px;
}

/* CARD */
.card {
    border: none;
    border-radius: 15px;
}

/* BOTÕES */
.btn-success {
    padding: 8px 20px;
}

.btn-outline-secondary {
    padding: 8px 20px;
}