/* FUNDO DA TELA */
.container-cadastro {
  background: #f4f6f9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD PRINCIPAL */
.card-cadastro {
  width: 350px;
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

/* TÍTULO */
.titulo-cadastro {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

/* GRUPO DE INPUT */
.grupo-input {
  margin-bottom: 15px;
}

/* LABEL */
.label-cadastro {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

/* INPUT */
.input-cadastro {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: 0.2s;
}

/* HOVER INPUT */
.input-cadastro:focus {
  border-color: #000;
  outline: none;
}

/* BOTÃO */
.botao-cadastro {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-weight: 600;
  transition: 0.2s;
}

/* HOVER BOTÃO */
.botao-cadastro:hover {
  background: #333;
}